*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html,body,main{
    width: 100%;
    height: 100%;
}
#root{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
}
.card{
    width: 20%;
    height: 30vh;
    border-radius: 25px;
}
.card70{
    width: 100%;
    height: 70%;
    background-color: rgb(211, 211, 211);
    background-size: cover;
   background-position:top center ;
   background-repeat: no-repeat;
}
.card30{
    width: 100%;
    height: 40%;
    background-color:white;
    border: 1px solid lightgray;
}